{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yonsei HEP-COSMO Web Page">
    <meta name="author" content="Axect">

    <title>Yonsei HEP-COSMO</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/image-effects.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
</head>

<body>
<div class="container">
    <div class="row">
        <div class="site-header spacing-t">
            <!-- 3 : width : 25% -->
            <div class="col-md-3 ">
                <div class="site-name spacing-b">
                    <h1> Yonsei HEP-COSMO</h1>
                    <h6>Highenergy Physics and Cosmology Group</h6>
                </div>
            </div>
            <!-- 9 : width : 75% -->
            <div class="col-md-9">
                <nav class="navbar pull-right " role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"><h3 class="hide">Menu</h3>
                            <span class="fw-icon-th-list "></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="active"><a href="members.html">Members</a></li>
                                    <li><a href="research.html">Research</a></li>
                                    <li><a href="publish.html">Publications</a></li>
                                </ul>
                            </li>
                            <li><a href="calendar.html">Calendar</a></li>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Site<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="arxiv.html">ArXiV</a></li>
                                    <li><a href="finedust.html">Fine Dust</a></li>
                                    <li><a href="link.html">Links</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-title">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1>Members</h1>
            </div>
        </div>
    </div>
    <div class="ruler"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="blist">
                <ul>
                    {% for diffpos in positions %}
                        <li><a href="#">{{ diffpos }}</a></li><br />
                        <div class="clist">
                            <ul>
                                {% for person in persons %}
                                    {% if person.position == diffpos %}
                                        <li>{{ person.name }}</li>
                                        <div class="dlist">
                                            <ul>
                                                <li>Email: {{ person.email }}</li>
                                                <li>Location: {{ person.location }}</li>
                                                <li>Site: <a href="{{ person.link }}", target="_blank">{{ person.link }}</a></li>
                                            </ul>
                                        </div><br />
                                        <div class="ruler"></div>
                                    {% endif %}  
                                {% endfor %} 
                            </ul>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="blist">
                <ul>
                    <li><a href="#" >Professor</a></li><br />
                    <!--<span><img src="Members/SC_park.jpg" width="240" height="320"/></span>-->
                    <span position="relative">
                    <div class="clist">
                        <ul>
                            <li>Seong Chan Park</li>
                        </ul>
                    </div>
                    </span><br />
                    <div class="ruler"></div>
                    <li><a href="#">Research Professor</a></li><br/>
                    <div class="clist">
                        <ul>
                            <li>Seo Dong Shin</li>
                        </ul>
                    </div><br/>
                    <div class="ruler"></div>
                    <li><a href="#">Post-Doc</a></li><br/>
                    <div class="clist">
                        <ul>
                            <li>Yasuhiro Yamamoto</li>
                        </ul>
                    </div><br/>
                    <div class="ruler"></div>
                    <li><a href="#">Graduate Students</a></li><br />
                    <div class="clist">
                        <ul>
                            <li>Dong Woo Kang</li>
                            <li>Yong Soo Jho</li>
                            <li>Tae Geun Kim</li>
                            <li>Kyung Sun Lee</li>
                            <li>Ye Ji Park</li>
                        </ul>
                    </div><br/>
                    <div class="ruler"></div>
                    <li><a href="#">Undergraduate Students</a></li><br/>
                    <div class="clist">
                        <ul>
                            <li>Sung Muk Lee</li>
                            <li>Ka Young Ban</li>
                        </ul>
                    </div><br/>
                    <div class="ruler"></div>
                    <li><a href="#">Alumni</a></li><br/>
                    <div class="clist">
                        <ul>
                            <li>Jong Chul Park</li>
                            <li>Swarup Kumar Majee</li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="site-footer">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="block">
                    <h2>Designed By</h2>
                    <a href="http://edeftg.dothome.co.kr">Tae Geun, Kim</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="block">
                    <h2>copyrights</h2>
                    <a href="https://sites.google.com/site/yonseihepcosmo/" target="_blank">@Yonsei HEP-COSMO group. All rights reserved</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->


<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
</body>
</html>
