{% load staticfiles %}
{% load spliter %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yonsei HEP-COSMO Web Page">
    <meta name="author" content="Axect">

    <title>Yonsei HEP-COSMO</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/image-effects.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <!-- TeX -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
        MathJax.Hub.Config({
            extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
        });
    </script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="site-header spacing-t">
            <!-- 3 : width : 25% -->
            <div class="col-md-3 ">
                <div class="site-name spacing-b">
                    <h1> Yonsei HEP-COSMO</h1>
                    <h6>Highenergy Physics and Cosmology Group</h6>
                </div>
            </div>
            <!-- 9 : width : 75% -->
            <div class="col-md-9">
                <nav class="navbar pull-right " role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"><h3 class="hide">Menu</h3>
                            <span class="fw-icon-th-list "></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index">Home</a></li>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown">About <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="members">Members</a></li>
                                    <li><a href="research">Research</a></li>
                                    <li class="active"><a href="publish">Publications</a></li>
                                </ul>
                            </li>
                            <li><a href="calendar">Calendar</a></li>
                            <li><a href="seminar">Seminar</a></li>
                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Site<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="arxiv">ArXiV</a></li>
                                    <li><a href="finedust">Fine Dust</a></li>
                                    <li><a href="link">Links</a></li>
                                </ul>
                            </li>
                            <li><a href="contact">Contact Us</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-title">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <h1>Publications</h1>
            </div>
            <div class=" col-sm-12 col-md-3">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="blist">
                {% for diffyear in yearlist %}
                    <div class="ruler"></div>
                    <ul>
                        <li><a href="#">{{ diffyear }}</a></li>
                    </ul>
                    <div class="dlist">
                        <ul>
                            {% for article in articles %}
                            {% if article.year == diffyear %}
                                <li>
                                    {% with article.people|split:"," as purple %}
                                        {% for person in purple %}
                                        {% if person in personlist %}
                                            <b>{{person}}</b>,
                                        {% else %}
                                            {{person}},
                                        {% endif %}
                                        {% endfor %}
                                    {% endwith %}
                                     &#12300;<span><i>{{ article.title }}</i></span>&#12301; 
                                    {% if article.journal !=  None %}
                                        <a href="{{ article.hyperlink }}" target="_blank">{{ article.journal }}</a>
                                    {% endif %}
                                    <a href="{{ article.arxivlink }}" target="_blank">{{ article.arxiv }}</a>
                                </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                <br />
                <div class="ruler"></div>
                 <p>
                    You can find the full list from InspireHEP [<a href="https://goo.gl/AS6UKo" target="_blank">here</a>]
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="site-footer">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="block">
                    <h2>Designed By</h2>
                    <a href="https://github.com/Axect" target="_blank">Tae Geun Kim</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="block">
                    <h2>copyrights</h2>
                    <a href="https://sites.google.com/site/yonseihepcosmo/" target="_blank">@Yonsei HEP-COSMO group. All rights reserved</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->


<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
</body>
</html>
