{% load staticfiles %}
{% load spliter %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yonsei HEP-COSMO Web Page">
    <meta name="author" content="Axect">

    <title>Yonsei HEP-COSMO</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/image-effects.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome-ie7.css' %}" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <!-- W3School -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="site-header spacing-t">
            <!-- 3 : width : 25% -->
            <div class="col-md-3 ">
                <div class="site-name spacing-b">
                    <h1> Yonsei HEP-COSMO</h1>
                    <h6>Highenergy Physics and Cosmology Group</h6>
                </div>
            </div>
            <!-- 9 : width : 75% -->
            <div class="col-md-9">
                <nav class="navbar pull-right " role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"><h3 class="hide">Menu</h3>
                            <span class="fw-icon-th-list "></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                          <li><a href="index">Home</a></li>
                          <li><a href="members">Members</a></li>
                          <li><a href="publish">Publications</a></li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Schedule<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                  <li><a href="seminar">Seminar</a></li>
                                  <li class="active"><a href="snail">Snail Lecture</a></li>
                              </ul>
                          </li>
                          <li class="dropdown ">
                              <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Useful Links<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                  <li><a href="arxiv">ArXiV</a></li>
                                  <li><a href="finedust">Fine Dust</a></li>
                                  <li><a href="link">Other Sites</a></li>
                              </ul>
                          </li>
                          <li><a href="contact">How to reach Us</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-title">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <h1>Snail Lecture</h1>
            </div>
            <div class="col-sm-12 col-md-3">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="w3-content w3-display-container"></div>
                <img class="mySlides" src="../../static/images/Snail/20171202_snail.png" alt="20171202" align="center" width="100%">
                <img class="mySlides" src="../../static/images/Snail/20171202_snail_1.png" alt="20171202" align="center" width="100%">

                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
            </div>
        </div>
    </div>
    <div class="ruler"></div>
</div>





<div class="container">
    <div class="site-footer">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="block">
                    <h2>Designed By</h2>
                    <a href="https://github.com/Axect" target="_blank">Tae Geun Kim</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="block">
                    <h2>copyrights</h2>
                    <a href="https://sites.google.com/site/yonseihepcosmo/" target="_blank">@Yonsei HEP-COSMO group. All rights reserved</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->


<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
<script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }    
</script>
</body>
</html>
